.productDetails {
    padding: 10px;
}

#aantalPcs{
    float: right;
}

.containerIngredients{
    overflow: auto;
}

#div1 {
    float: left;
    width: 70%;
}

#div2 {
    float: left;
    width: 10%;
    text-align: center;
}


.addIngredients{
    width: 100%;
    overflow: auto;
}

.container{
    overflow: auto;
}

.extraInputAdd {
    margin: 10px;
}

.deleteBtn {
    float: left;
    margin: 0 0 0 5px;
}

.divButtons {
    margin: 20px 0 100px 0;
}

#buttonRow {
    position: relative;
}
